<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
   
<head>
    {% load static %}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Master Content</title>
    <link rel="stylesheet" href="{% static 'images/style.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top border-top border-bottom" style="background-color: #fff;">
        <div class="container position-relative">
            <!-- Toggle Button for Mobile View -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <!-- Center Logo -->
            <a class="navbar-brands mx-auto d-lg-none" href="#">
                <img src="{% static 'images/logo.png.png' %}" alt="Logo" style="height: 60px;">
            </a>
    
            <!-- Navbar Content -->
            <div class="collapse navbar-collapse justify-content-between" id="navbarContent">
                <!-- Left Section (Navbar Links) -->
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'ug' %}">UG PROGRAMME</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'master' %}">PG PROGRAMME</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'scholorship' %}">SCHOLARSHIP</a></li>
                </ul>
                
                <!-- Center Logo (Visible on Larger Screens) -->
                <a class="navbar-brands mx-auto d-none d-lg-block" href="#">
                    <img src="{% static 'images/logo.png.png' %}" alt="Logo" style="height: 60px;">
                </a>
    
                <!-- Right Section (Navbar Links) -->
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">OUR STORY</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">BLOG</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'branches' %}">OUR BRANCHES</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">CONTACT US</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="margin-top: 140px;">
        <div class="heading">
            <h1 class="text-center">Edit Master Content</h1>
        </div>
    </div>
      <div class="container" style="margin-top: 40px;">
        <form method="post" action="{% url 'edit_degree_section' degree_section.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            
            <!-- Input for Heading -->
            <label for="heading">Heading:</label>
            <input type="text" class="form-control" name="heading" value="{{ degree_section.heading }}" required>
            <br>
        
            <!-- Input for Text -->
            <label for="text">Text:</label>
            <textarea id="content" class="form-control" name="text" required>{{ degree_section.text }}</textarea>
            <br>
        
            <!-- Input for Image -->
            <label for="image">Image:</label>
            {% if degree_section.image %}
            <img src="{{ degree_section.image.url }}" alt="Current Image" style="width: 150px; height: auto;">
            <br><br>
            {% else %}
            <p>No image available</p>
            {% endif %}
            <input type="file" class="form-control" name="image" accept="image/*">
            <br>
            
            <!-- Submit Button -->
            <input type="submit" class="btn" value="Update" style="color:#fff; background-color: #bd4419;">
        </form>
        
    </div>



    <footer class="footer text-white mt-5">
        <div class="container">
            <div class="row py-4">
                <div class="col-md-2">
                    <h6>Contact Us</h6>
                </div>
                <div class="col-md-2">
                    <h6 class="mb-5">Offering</h6>
                    <ul class="list-unstyled ">
                        <li><a href="#">Free IELTS</a></li>
                        <li><a href="#">Call with expert</a></li>
                        <li><a href="#">Scholarships</a></li>
                        <li><a href="#">Expert Guide</a></li>
                        <li><a href="#">Personal Guide</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h6 class="mb-5">Study Abroad</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Study in UK</a></li>
                        <li><a href="#">Study in Canada</a></li>
                        <li><a href="#">Study in Germany</a></li>
                        <li><a href="#">Study in Ireland</a></li>
                        <li><a href="#">Study in Australia</a></li>
                        <li><a href="#">Study in USA</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h6 class="mb-5">Top Universities</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Study in UK</a></li>
                        <li><a href="#">Study in Canada</a></li>
                        <li><a href="#">Study in Germany</a></li>
                        <li><a href="#">Study in Ireland</a></li>
                        <li><a href="#">Study in Australia</a></li>
                        <li><a href="#">Study in USA</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h6 class="mb-5">Test Prep</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">IELTS</a></li>
                        <li><a href="#">GMAT</a></li>
                        <li><a href="#">GRE</a></li>
                        <li><a href="#">TOEFL</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h6 class="mb-5">Company</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Success Stories</a></li>
                        <li><a href="#">Latest Blogs</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Help & Support</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
            <div class="row py-2">
                <div class="col text-center social-icons">
                    <a href="#" class="text-white"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="row py-2">
                <div class="col text-center">
                    <h6 class="mb-5 mt-5">Universities</h6>
                    <div class="alphabet">
                        <a href="#">A</a>
                        <a href="#">B</a>
                        <a href="#">C</a>
                        <a href="#">D</a>
                        <a href="#">E</a>
                        <a href="#">F</a>
                        <a href="#">G</a>
                        <a href="#">H</a>
                        <a href="#">I</a>
                        <a href="#">J</a>
                        <a href="#">K</a>
                        <a href="#">L</a>
                        <a href="#">M</a>
                        <a href="#">N</a>
                        <a href="#">O</a>
                        <a href="#">P</a>
                        <a href="#">Q</a>
                        <a href="#">R</a>
                        <a href="#">S</a>
                        <a href="#">T</a>
                        <a href="#">U</a>
                        <a href="#">V</a>
                        <a href="#">W</a>
                        <a href="#">X</a>
                        <a href="#">Y</a>
                        <!-- Continue the alphabet letters here -->
                        <a href="#">Z</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>


    <script>
        CKEDITOR.replace('content');

        $(document).ready(function () {
            $("#video-slider").owlCarousel({
                items: 1,
                loop: true,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: false,
                nav: false,
                dots: false,
                video: true,
                lazyLoad: true
            });
        });


        document.addEventListener("DOMContentLoaded", function () {
            ScrollReveal().reveal('.reveal', {
                origin: 'bottom',
                distance: '80px',
                duration: 1000,
                easing: 'ease-in-out',
                reset: true
            });
        });



    </script>
</body>

</html>